{#<!DOCTYPE html>#}
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <title>登录页</title>
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <meta name="description" content="">#}
{#    <meta name="author" content="">#}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/supersized.css">
    <link rel="stylesheet" href="static/css/style.css">


</head>

<body>

<div class="page-container">
    <h1>可视化平台</h1>
    <form action="" method="post">
{#        <input type="text" name="username" class="username" placeholder="请输入您的用户名...">#}
{#        <input type="password" name="password" class="password" placeholder="请输入您的密码...">#}
        {{ form.username(class="username", placeholder="请输入您的用户名...")}}<br/>
        {{ form.password(class="password", placeholder="请输入您的密码...")}}<br/>
        <button type="submit" >登录</button><br/><br/>
        {% if message %}{{ message }}{% endif %}
        <div class="error"><span>+</span></div>
    </form>
    <div class="connect">
        <p>联系我：</p>
        <p>
            <a class="qq" href="{{url_for('erweima')}}"></a>
            <a class="wechat" href="{{url_for('erweima')}}"></a>
{#            <a class="qq" href=""></a>#}
{#            <a class="wechat" href=""></a>#}
        </p>
    </div>
<br/><br/>
<div height="120" width="150" align="center">
    <embed type="application/x-shockwave-flash"
           src="http://cdn.abowman.com/widgets/hamster/hamster.swf" width="210" height="176"
           id="flashID" name="flashID" bgcolor="#FFFFFF" quality="high"
           flashvars="up_backgroundColor=FFFFFF" wmode="opaque" allowscriptaccess="always">
</div>
</div>
<div class="copyright" align="center">
    &copy;
    <script>
        document.write(new Date().getFullYear())
    </script>
    , Designed by mumu <a href="#" target="_blank" title="起飞的木木">注册</a>

</div>

<!-- Javascript -->
<script src="static/js/jquery-1.8.2.min.js"></script>
<script src="static/js/supersized.3.2.7.min.js"></script>
<script src="static/js/supersized-init.js"></script>
<script src="static/js/scripts.js"></script>

</body>

</html>

