<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script type="text/javascript" src="static/js/tanchuang.js"></script>
</head>
<body>
<div align="center" style="margin-top:60px;">
    <h1>注册页面</h1>
    <br>
    <form method="POST">
        {{ form.username(class="username", placeholder="请输入注册用户名...") }}<br/>
        {{ form.password(class="password", placeholder="请输入注册密码...") }}<br/>
        <br/><br/>
        <input type="submit" value="注册" onclick="alert('注册中...')">
        {% if message %}{{ message }}{% endif %}
        <br/><br/>
        <input type="text" name="mark" placeholder="请输入邀请码">
    </form>
</div>
</body>
</html>