<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        body {
            margin: 0;
        }

        #main {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="main"></div>
{#<script src="{{ url_for('static', filename = 'echarts/echarts/echarts.js') }}"></script>#}
{#<script src="http://api.map.baidu.com/api?v=2.0&ak=GyYbaw3XeOdjlF5n5ioA5MDzgg99VOMM"></script>#}
{#<script src="{{ url_for('static', filename = 'echarts/js/lib/jquery.min.js') }}"></script>#}
{#<script src="{{ url_for('static', filename = 'echarts/js/lib/require.js') }}"></script>#}
{#<script src="{{ url_for('static', filename = 'echarts/js/lib/example2.js') }}"></script>#}

<script src="/static/echarts/echarts/echarts.js"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=GyYbaw3XeOdjlF5n5ioA5MDzgg99VOMM"></script>
<script src="/static/echarts/js/lib/jquery.min.js"></script>
<script src="/static/echarts/js/lib/require.js"></script>
<script src="/static/echarts/js/lib/example2fu.js"></script>

</body>
</html>
